@model IEnumerable<RacingHub.Models.Race.RaceListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverLimit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriverLimit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.RaceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RaceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RaceId })
        </td>
    </tr>
}

</table>
